@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.home-header {
	text-align: center;
}
.web-title {
	position: relative;
}

.web-title h1 {
	color: #fff;
	font-size: 5em;
	font-family: 'Poppins', sans-serif;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}

.web-title h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}

.web-title h1:nth-child(2) {
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
.home-header h2 {
	text-transform: uppercase;
	background-image: linear-gradient(-225deg, #856ae6 0%, #76770f 29%, #9e4563 67%, #000000 100%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
	font-size: 2rem;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}



.home-header p {
	font-style: italic;
	font-weight: 600;
}
